<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LynnSmithPortal.Properties.Settings.Setting" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LynnSmithUniversityDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" />
    </connectionStrings>
</configuration>